<!-- Books grid -->
<div class="ui text menu">

	<div class="header item">Sort By</div>
	<a class="item" ng-click="booksList.sortFunc('header')">header
		<i class="long arrow icon" ng-show="booksList.sort.property === 'header'" ng-class="!booksList.sort.reverse ? 'down':'up'"></i>
	</a>
	<a class="item" ng-click="booksList.sortFunc('publicationYear')">Year of publicationYear
		<i class="long arrow icon" ng-show="booksList.sort.property === 'publicationYear'" ng-class="booksList.sort.reverse ? 'down':'up'"></i>
	</a>

	<div class="right menu">
		<div class="item">
			<a class="ui primary button" href="#/book-add"><i class="icon add"></i> Add book</a>
		</div>
	</div>
</div>

<div class="ui grid">
	<div class="eight wide mobile four wide computer column" ng-repeat="book in booksList.list | orderBy : booksList.sort.property : booksList.sort.reverse">

		<div class="ui card">
			<a class="image" href="#/book-details/{{book.id}}">
				<img ng-src="{{book.image ? book.image : '/img/book-no-photo.png'}}">
			</a>

			<div class="content">
				<a class="header" href="#/book-details/{{book.id}}">{{book.header}}</a>
				<div class="meta" title="Publisher">{{book.publisher}}</div>
				<div class="meta" title="Publication year">
					<span class="date">{{book.publicationYear}}</span>
				</div>
			</div>

			<div class="ui two bottom attached buttons">
				<button type="button" class="ui button" ng-click="booksList.delBook(book)"><i class="trash icon"></i> Delete</button>
				<button type="button" class="ui button"><i class="write icon"></i> Edit</button>
			</div>
		</div>
	</div>
</div>